
<div class="flexslider ">
    <ul class="slides">
        <li>
            <img src="assets/imagenes/7.jpeg" alt="">
            <section class="flex-caption">
               
            </section>
        </li>
        <li>
            <img src="assets/imagenes/5.jpg" alt="">
            <section class="flex-caption">
                <p>Bienvenidos a la tienda de productos para mascotas</p>
            </section>
        </li>
        <li>
            <img src="assets/imagenes/22.png" alt="">
            <section class="flex-caption">
              
            </section>
        </li>
    </ul>
</div>

<h1 class="title">Ven Conoce nuetra empresa</h1>
    
    <div class="container">
       
        <div class="card">
            <img src="/assets/imagenes/logo.png">
            <h4>Quienes somos</h4>
            <p>Somo un grupo de emprendedores dedicados a la venta de productos para caninos ofrecemos servicio las 24 horas del dia </p>
            <a href="#">Leer más</a>
        </div>
        
        <div class="card">
            <img src="/assets/imagenes/11.jpg">
            <h4>Nuestra Mision</h4>
            <p> Tenemos como Mision ofrecer los productos que estan a la vanguardia del comercado</p>
            <a href="#">Leer más</a>
        </div>

    </div>

    <tr>

    </tr>

    
