
<div class="flexslider ">
    <ul class="slides">
        <li>
            <img src="assets/imagenes/7.jpeg" alt="">
            <section class="flex-caption">
               
            </section>
        </li>
        <li>
            <img src="assets/imagenes/5.jpg" alt="">
            <section class="flex-caption">
                <p>Bienvenidos a la tienda de productos para mascotas</p>
            </section>
        </li>
        <li>
            <img src="assets/imagenes/22.png" alt="">
            <section class="flex-caption">
              
            </section>
        </li>
    </ul>
</div>


<div class="contenedor">
  <div class="contenedor_tarjeta">
    <a href="http://www.falconmasters.com">
      <figure id="tarjeta">
        <img src="/assets/imagenes/2.jpeg" class="frontal" alt="">
        <figcaption class="trasera">
          <h2 class="titulo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, vero!</h2>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis cupiditate voluptates ipsum suscipit, aspernatur eum, amet nemo architecto nihil corrupti.</p>
        </figcaption>
      </figure>
    </a>
  </div>

  <div class="contenedor_tarjeta">
    <a href="http://www.falconmasters.com">
      <figure id="tarjeta">
        <img src="/assets/imagenes/3.jpeg" class="frontal" alt="">
        <figcaption class="trasera">
          <h2 class="titulo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, vero!</h2>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis cupiditate voluptates ipsum suscipit, aspernatur eum, amet nemo architecto nihil corrupti.</p>
        </figcaption>
      </figure>
    </a>
  </div>
</div>

