<footer class="page-footer blue-grey">
    <div class="container">
      <div class="row">
        <div class="col s6 offset-s3">
          <h5 class="white-text">Dejanos contactarte y recibe la mejor atencion</h5>
          <div id="after_submit"></div>
          <form id="contact_form" action="#" method="POST" action="formulario-contacto.php">
            <div class="input-field">
              <label  for="name">Ingresa tu nombre:</label><br />
              <input id="name"  name="name" type="text" value="" size="30" /><br />
              <span id="name_validation" class="error_message"></span>
            </div>
            <div class="input-field">
              <label  for="email">Ingresa tu correo:</label><br />
              <input id="email" name="email" type="text" value="" size="30" /><br />
              <span id="email_validation" class="error_message"></span>
            </div>
           
              
              <input id="submit_button" type="submit" value="Send email" />
          </form>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © Elaborado por grupo TeamNodejs_Mision TIC 2022  
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
 